body{
	margin: 0px;
	font-family: 'Myriad Pro';

}

p{
	margin: 0px;
}

h4{
	font-size: 30px;
	margin: 0px;
}

h5{
	font-size: 22px;
}

/*banner*/

.banner img{
	max-width: 1600px;
	position: relative;	
}

.centered {
  position: absolute;
  top:  50%;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%, -50%);
}

.btn1{
	position: absolute;
	top:  60%;
	left: 50%;
	font-size: 50px;
	transform: translate(-50%, -50%);
}

.btn{
	border-radius: 0;
}

/*navbar*/

.nav-sec{
	background-color: #252e30;
	padding: 6px 0;
}

.nav-item{
	padding-left: 20px;
	font-size: 16px;
}

.nav-sec a:hover { 
	color: #2ecc71 !important; 
}

/*Goal*/
.goal-sec{
	padding: 100px 0;
}

/*About*/
.aboutme-sec{
	background-color: #f2f2f1;
}

.about-sec-txt{
	padding: 100px 100px 0 100px;
}

.aboutme-sec .txt2{
	padding-top: 10px;
}

.skill-sec{
	padding: 100px 0;
}

.prg{
	padding: 50px 0;
}
.progress{

	width: 550px;
	height: 30px;
	margin-top: 20px;

}

.resume-sec{
	padding: 100px 0;
	background-color: #f2f2f1;
}

.edu-sec{
	padding: 100px 0;
}

.ex-sec{
	padding: 100px 0;
}

.john-sec{
	background-color: #f2f2f1;
	padding: 100px 0;
}

.port-sec{
	padding: 100px 0;
}

.port-img{
	padding-left: 100px; 
	padding-bottom: 50px;
}

.port-img .container{
	
	display: flex; 
	flex-direction: row;
	flex-wrap: wrap;
}

.port-img .container .bord{
	position: relative;
	width: 300px;
	height: 200px;
	background: rgb(255, 255, 255);
	margin: 20px;
	box-sizing: border-box;
	display: inline-block;
}

.port-img .container .bord .imgBord{
	position: relative;
	overflow: hidden;
}

.port-img img{
	height: 100%;
	transition: transform 0.5s;

}

.port-img .container .bord:hover .imgBord img{
	transform: scale(1.2);
}

.contact-sec{
	background-color: #252e30;
}

.contact-sec .row{
	padding: 100px 0;
}

.contact-sec textarea, input{
	background-color: #4b5456 !important;
}

.footer{
	padding: 45px 0;
	background-color: #191f21;
}





::-webkit-scrollbar{
	width: 12px;
}

::-webkit-scrollbar-thumb{
	background: linear-gradient(transparent, #1f680e);
}

::-webkit-scrollbar-thumb:hover{
	background: linear-gradient(transparent, #1f680e);
}

.neon{
	position: absolute;
	top: 50%;
	left: 15%;
	margin: 0;
	padding: 0 20px;
	transform: translate(-50%, -50%);
	color: #fff;
	text-shadow: 0 0 20px #0624ac;
	
}

.neon:after{
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 20px;
	z-index: -1;
	color: #0d50a8;
	filter: blur(15px);
}

.neon::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index:-2;
	opacity: .5;
	filter: blur(40px);
}

html{
	scroll-behavior: smooth;
}


